.person{
	position:absolute;
	background-image: url('gfx/Person.png');
}

.outsideElevator{
	z-index: 10;
}

.insideElevator{
	z-index: 3;
}

.walkAnimation{
	animation: walk .8s steps(3) infinite;
}

.turnAnimation{
	animation: turn .5s steps(4) alternate 1;
}

.walkIntoElevatorAnimation{
	animation: walkIntoElevator .5s steps(4) infinite;
}

.walkOutElevatorAnimation{
	animation: walkOutElevator .5s steps(4) infinite;
}

.turnInElevatorAnimation{
	animation: turnInElevator .8s steps(5) 1;
}

.waitForElevator{
	background-position: 80px -110px;
}

.waitInElevator{
	background-position: 40px -330px;
}

.moveTransition{
	transition: left 1s linear 0s, top .5s linear 0s, transform-scaleY 1s linear 0s
}

@keyframes walk {
	0%		{ background-position: 0px 0px;}
	100%	{ background-position: -120px 0px; }
}

@keyframes turn{
	0%		{ background-position: 0px -110px; }
	100%	{ background-position: -160px -110px; }
}

@keyframes walkIntoElevator{
	0%		{ background-position: 0px -220px; }
	100%	{ background-position: -160px -220px; }
}

@keyframes turnInElevator{
	0%		{ background-position: 0px -330px; }
	100%	{ background-position: -200px -330px; }
}

@keyframes walkOutElevator{
	0%		{ background-position: 0px -440px; }
	100%	{ background-position: -160px -440px; }
}